# PyCity Schools Analysis

- Kyle Alexander Murphy

This data is interesting to show that charter school have slight but consistent higher scores in both math and english. Charter school are much higher on passing rate, as are smaller schools v larger school size.

It is very interesting in these datasets to notice at first that the passing scores for reading and math appear to be quiet similar, but upon further analysis per capita spending, school size, and school type have noticable and provable results.

  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path(r"C:\Users\kyled\OneDrive\Desktop\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\kyled\OneDrive\Desktop\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = school_data['school_name'].nunique()

print(school_count)

15

In [4]:
# Calculate the total number of students
student_count = student_data['student_name'].count()
student_count

39170

In [5]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:


# Use the following to calculate the percentage of students who passed reading (reading scores greater than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame




# Calculate the total number of schools
total_schools = school_data['school_name'].nunique()

# Calculate the total number of students
total_students = student_data['student_name'].count()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average math score
average_math_score = student_data['math_score'].mean()

# Calculate the average reading score
average_reading_score = student_data['reading_score'].mean()

# Calculate the percentage of students who passed math
passing_math_percentage = (student_data['math_score'] >= 70).mean() * 100

# Calculate the percentage of students who passed reading
passing_reading_percentage = (student_data['reading_score'] >= 70).mean() * 100

# Calculate the overall passing rate (average of math and reading passing percentages)
overall_passing_rate = (passing_math_percentage + passing_reading_percentage) / 2



# Create a DataFrame to store the district summary
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing Rate': [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary


#LAST LINE ABOUT % OVERALL PASSING RATE IS OFF - SHOULD BE 65%.... all joy!!!!!

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [10]:
import pandas as pd

# Calculate the total number of schools
total_schools = school_data['school_name'].nunique()

# Calculate the total number of students
total_students = student_data['student_name'].count()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average math score
average_math_score = student_data['math_score'].mean()

# Calculate the average reading score
average_reading_score = student_data['reading_score'].mean()

# Calculate the percentage of students who passed math
passing_math_percentage = (student_data['math_score'] >= 70).mean() * 100

# Calculate the percentage of students who passed reading
passing_reading_percentage = (student_data['reading_score'] >= 70).mean() * 100

# Calculate the overall passing rate (average of math and reading passing percentages)
overall_passing_rate = (passing_math_percentage + passing_reading_percentage) / 2

# Create a DataFrame to store the district summary
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(district_summary)

   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          80.393158

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count], 
                                        "Total Students":[student_count], 
                                        "Total Budget": [total_budget], 
                                        "Average Math Score":[average_math_score],
                                        "Average Reading Score":[average_reading_score], 
                                        "% Passing Math":[passing_math_percentage], 
                                        "% Passing Reading":[passing_reading_percentage],
                                        "% Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

In [12]:
# Use the code provided to select all of the school types


school_names_types = school_data[['school_name', 'type']]

school_type = school_data['type']

#print(school_type)

#print(school_names_types)
print(school_names_types)

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [12]:
# Calculate the total student count per school

school_student_count = student_data.groupby('school_name').size().reset_index(name='total_students')

print(school_student_count)

              school_name  total_students
0      Bailey High School            4976
1     Cabrera High School            1858
2    Figueroa High School            2949
3        Ford High School            2739
4     Griffin High School            1468
5   Hernandez High School            4635
6      Holden High School             427
7       Huang High School            2917
8     Johnson High School            4761
9        Pena High School             962
10  Rodriguez High School            3999
11    Shelton High School            1761
12     Thomas High School            1635
13     Wilson High School            2283
14     Wright High School            1800

In [16]:
# Calculate the total student count per school
per_school_counts = student_data.groupby('school_name').size().reset_index(name='total_students')

# Display only the total student counts without printing school names
total_students_only = per_school_counts['total_students']
print(total_students_only)

0     4976
1     1858
2     2949
3     2739
4     1468
5     4635
6      427
7     2917
8     4761
9      962
10    3999
11    1761
12    1635
13    2283
14    1800
Name: total_students, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school

# Calculate the total school budget
total_school_budget = school_data.groupby('school_name')['budget'].sum()

# Calculate the per capita spending per school
school_data['per_capita_spending'] = school_data['budget'] / school_data['size']

# Display the results
school_budget_per_capita = school_data[['school_name', 'budget', 'per_capita_spending']]
print(school_budget_per_capita)

              school_name   budget  per_capita_spending
0       Huang High School  1910635                655.0
1    Figueroa High School  1884411                639.0
2     Shelton High School  1056600                600.0
3   Hernandez High School  3022020                652.0
4     Griffin High School   917500                625.0
5      Wilson High School  1319574                578.0
6     Cabrera High School  1081356                582.0
7      Bailey High School  3124928                628.0
8      Holden High School   248087                581.0
9        Pena High School   585858                609.0
10     Wright High School  1049400                583.0
11  Rodriguez High School  2547363                637.0
12    Johnson High School  3094650                650.0
13       Ford High School  1763916                644.0
14     Thomas High School  1043130                638.0

In [14]:
# Calculate the average test scores per school
#per_school_math = 
#per_school_reading = 

# Calculate the average math score per school
per_school_math = student_data.groupby('school_name')['math_score'].mean()

# Calculate the average reading score per school
per_school_reading = student_data.groupby('school_name')['reading_score'].mean()

# Display the results
per_school_scores = pd.DataFrame({
    'School Name': per_school_math.index,
    'Average Math Score': per_school_math.values,
    'Average Reading Score': per_school_reading.values
})
print(per_school_scores)

              School Name  Average Math Score  Average Reading Score
0      Bailey High School           77.048432              81.033963
1     Cabrera High School           83.061895              83.975780
2    Figueroa High School           76.711767              81.158020
3        Ford High School           77.102592              80.746258
4     Griffin High School           83.351499              83.816757
5   Hernandez High School           77.289752              80.934412
6      Holden High School           83.803279              83.814988
7       Huang High School           76.629414              81.182722
8     Johnson High School           77.072464              80.966394
9        Pena High School           83.839917              84.044699
10  Rodriguez High School           76.842711              80.744686
11    Shelton High School           83.359455              83.725724
12     Thomas High School           83.418349              83.848930
13     Wilson High School           83.274201              83.989488
14     Wright High School           83.682222              83.955000

In [14]:
# Calculate the number of students per school with math scores of 70 or higher


# Filter the student data to include only those who passed math (score of 70 or higher)
students_passing_math = student_data[student_data['math_score'] >= 70]

# Calculate the number of students per school who passed math
school_students_passing_math = students_passing_math.groupby('school_name').size()

# Display the results
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher



# Filter the student data to include only those who passed reading (score of 70 or higher)
students_passing_reading = student_data[student_data['reading_score'] >= 70]

# Calculate the number of students per school who passed reading
school_students_passing_reading = students_passing_reading.groupby('school_name').size()

# Display the results
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [23]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

# Filter the data to include only students who passed both math and reading (scores of 70 or higher)

students_passing_math_and_reading = school_data_complete[

(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)

]


# Calculate the number of students per school who passed both math and reading

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()


# Display the results

print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [28]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / total_students_only * 100
per_school_passing_reading = school_students_passing_reading / total_students_only * 100
overall_passing_rate = school_students_passing_math_and_reading / total_students_only * 100

print(per_school_passing_math)

Bailey High School      NaN
Cabrera High School     NaN
Figueroa High School    NaN
Ford High School        NaN
Griffin High School     NaN
Hernandez High School   NaN
Holden High School      NaN
Huang High School       NaN
Johnson High School     NaN
Pena High School        NaN
Rodriguez High School   NaN
Shelton High School     NaN
Thomas High School      NaN
Wilson High School      NaN
Wright High School      NaN
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
dtype: float64

In [46]:
# Create a DataFrame called `per_school_summary`
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

NameError: name 'per_school_counts' is not defined

## Highest-Performing Schools (by % Overall Passing)

In [47]:
# Sort the schools by `% Overall Passing` in descending order
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)

# Display the top 5 rows
top_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [48]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [1]:
school_data_complete

NameError: name 'school_data_complete' is not defined

## Reading Score by Grade

In [49]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [50]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [53]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)

school_spending_df

NameError: name 'school_spending_df' is not defined

In [52]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

SyntaxError: invalid syntax (416621729.py, line 2)

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [2]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

import pandas as pd

# Assuming per_school_summary is a DataFrame you've already defined

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut to categorize the schools based on size.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

# Display the updated per_school_summary DataFrame.
print(per_school_summary)

SyntaxError: invalid syntax (307051859.py, line 4)

In [3]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()


# Calculate the average math scores based on school size.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()

# Calculate the average reading scores based on school size.
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()

# Calculate the average passing math percentages based on school size.
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()

# Calculate the average passing reading percentages based on school size.
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()

# Calculate the average overall passing percentages based on school size.
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary

In [ ]:


# Group by "School Type" and calculate the average math scores.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()

# Group by "School Type" and calculate the average reading scores.
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()

# Group by "School Type" and calculate the average passing math percentages.
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()

# Group by "School Type" and calculate the average passing reading percentages.
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()

# Group by "School Type" and calculate the average overall passing percentages.
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()